VITE_SITE_URL=https://orzyon.com
VITE_AUTH_API_URL=
VITE_URL_PLATAFORMA=https://app.orzyon.com
VITE_URL_SMARTFINANCE=https://smartfinance.orzyon.com
VITE_URL_MAISCLINICAL=https://maisclinical.orzyon.com
